@charset "UTF-8";

a:link,
.load-more {
	color: #AA6627; /* dark orange */
}

a:visited, h2 a:link, h3 a:link {
  color: #AA6627; /* dark orange */
}

.section-footer a:link {
  color: #9F5F24; /* darker orange */
}

#block-superfish-1 li li a, .mm-list > li > a {
	color: #AA6627; /* dark orange */
	border-color: #FCB316; /* iied orange */
}

.page_title h1, h1#page-title {
	color: #AA6627 !important; /* dark orange */
}

/*pull quote*/
.pull-quote, .call-out-small, .call-out-medium {
	border-top-color: #FCB316; /* iied orange */
}

#main-menu li a:hover, #main-menu li a:active, #main-menu a.active-trail, #block-superfish-1 li a:hover, #block-superfish-1 li a:active, #block-superfish-1 a.active {
	border-color: #FCB316; /* orange */
}

#block-superfish-1 .active-trail, .block-responsive-dropdown-menus li.active {
	border-color: #FCB316; /* orange */
}

#block-superfish-1 li a:hover {
	color: #FCB316;
}

/* Views slideshow */
.views-slideshow-controls-text-previous {
	background: url(arrows.png) no-repeat scroll 0 0 transparent;
}

.views-slideshow-controls-text-next {
	background: url(arrows.png) no-repeat scroll -35px 0 transparent;
}

.views-slideshow-pager-fields .views-content-counter {
	border-bottom-color: #FFFFFF;
}

.views-slideshow-pager-fields .active .views-content-counter {
	border-bottom-color: #FCB316;
}

/* Content Zone Regions */
.region-sidebar-first-inner .odd a:link {
  color: #C84093; /* dark pink */
}
.region-sidebar-first-inner .odd a:visited, .region-sidebar-first-inner .odd h3 a:link {
	color: #C84093; /* dark pink */
}
.region-sidebar-first .odd h2 {
	border-color: #CE539E; /* pink */
}


.region-content .odd a:link {
	color: #6F7D1D; /* green */
}
.region-content .odd a:visited, .region-content .odd h3 a:link {
	color: #6F7D1D; /* dark green */
}
.region-content .odd h2 {
	border-color: #AAC02C; /* green */
}


.region-sidebar-first-inner .even a:link {
	color: #AA6627; /* orange */
}
.region-sidebar-first-inner .even a:visited, .region-sidebar-first-inner .even h3 a:link {
	color: #AA6627; /* orange */
}
.region-sidebar-first .even h2 {
	border-color: #FCB316; /* orange */
}


.region-content .even a:link {
	color: #057FA8; /* blue */
}
.region-content .even a:visited, .region-content .even h3 a:link {
	color: #057FA8; /* dark blue */
}
.region-content .even h2 {
  border-color: #00B3DF; /* blue */
}


.region-sidebar-second-inner .even a:link {
	color: #C84093 /* dark pink */
}
.region-sidebar-second-inner .even a:visited, .region-sidebar-second-inner .even h3 a:link {
	color: #C84093; /* dark pink */
}
.region-sidebar-second .even h2, .region-sidebar-second .odd .field-items .odd h2 {
  border-color: #CE539E; /* pink */
}


.region-sidebar-second-inner .odd a:link {
	color: #057FA8; /* blue */
}
.region-sidebar-second-inner .odd a:visited, .region-sidebar-second-inner .odd h3 a:link {
	color: #057FA8; /* blue */
}
.region-sidebar-second .odd h2 {
	border-color: #00B3DF; /* blue */
}


.region-sidebar-second-inner .block-menu ul li.leaf.active-trail { /* menu update */
		border-bottom: 1px solid #00B3DF; /* blue */
}


/* Postscript Zone */
.region-postscript-first-inner .odd a:link {
  color: #C84093; /* dark pink */
}
.region-postscript-first-inner .odd a:visited, .region-postscript-first-inner .odd h3 a:link {
  color: #C84093; /* dark pink */
}
.region-postscript-first .odd h2 {
	border-color: #CE539E; /* pink */
}


.region-postscript-second-inner .odd a:link {
  color: #057FA8; /* dark blue */
}
.region-postscript-second-inner .odd a:visited, .region-postscript-second-inner .odd h3 a:link {
  color: #057FA8; /* dark blue */
}
.region-postscript-second .odd h2 {
	border-color: #00B3DF; /* blue */
}


.region-postscript-first-inner .even a:link {
  color: #AA6627; /* dark orange */
}
.region-postscript-first-inner .even a:visited, .region-postscript-first-inner .even h3 a:link {
  color: #AA6627; /* orange */
}
.region-postscript-first .even h2 {
	border-color: #FCB316; /* orange */
}


.region-postscript-second-inner .even a:link {
  color: #C84093; /* dark pink */
}
.region-postscript-second-inner .even a:visited, .region-postscript-second-inner .even h3 a:link {
  color: #C84093; /* dark pink */
}
.region-postscript-second .even h2 {
	border-color: #CE539E; /* pink */
}


.region-postscript-third-inner .even a:link {
  color: #057FA8; /* dark blue */
}
.region-postscript-third-inner .even a:visited, .region-postscript-third-inner .even h3 a:link {
  color: #057FA8; /* blue */
}
.region-postscript-third .even h2 {
	border-color: #00B3DF; /* blue */
}


.region-postscript-third-inner .odd a:link {
  color: #6F7D1D; /* dark green */
}
.region-postscript-third-inner .odd a:visited, .region-postscript-third-inner .odd h3 a:link {
  color: #6F7D1D; /* green */
}
.region-postscript-third .odd h2 {
	border-color: #AAC02C; /* green */
}


/* postcript2 */
.region-postscript2-first-inner .odd a:link {
  color: #C84093; /* dark pink */
}
.region-postscript2-first-inner .odd a:visited, .region-postscript2-first-inner .odd h3 a:link {
  color: #C84093; /* dark pink */
}
.region-postscript2-first .odd h2 {
	border-color: #CE539E; /* pink */
}


.region-postscript2-second-inner .odd a:link {
  color: #057FA8; /* dark blue */
}
.region-postscript2-second-inner .odd a:visited, .region-postscript2-second-inner .odd h3 a:link {
  color: #057FA8; /* blue */
}
.region-postscript2-second .odd h2 {
  border-color: #00B3DF; /* blue */
}


.region-postscript2-first-inner .even a:link {
  color: #AA6627; /* dark orange */
}
.region-postscript2-first-inner .even a:visited, .region-postscript2-first-inner .even h3 a:link {
  color: #AA6627; /* orange */
}
.region-postscript2-first .even h2 {
	border-color: #FCB316; /* orange */
}


.region-postscript2-second-inner .even a:link {
  color: #C84093; /* dark pink */
}
.region-postscript2-second-inner .even a:visited, .region-postscript2-second-inner .even h3 a:link {
  color: #C84093; /* dark pink */
}
.region-postscript2-second .even h2 {
	border-color: #CE539E; /* pink */
}


.region-postscript2-third-inner .even a:link {
  color: #057FA8; /* dark blue */
}
.region-postscript2-third-inner .even a:visited, .region-postscript2-third-inner .even h3 a:link {
  color: #057FA8; /* blue */
}
.region-postscript2-third .even h2 {
	border-color: #00B3DF; /* blue */
}


.region-postscript2-third-inner .odd a:link {
  color: #6F7D1D; /* dark green */
}
.region-postscript2-third-inner .odd a:visited, .region-postscript2-third-inner .odd h3 a:link {
  color: #6F7D1D; /* green */
}
.region-postscript2-third .odd h2 {
  border-color: #AAC02C; /* green */
}


/* Postcript3 */
.region-postscript3-first-inner .odd a:link {
  color: #6F7D1D; /* dark green */
}
.region-postscript3-first-inner .odd a:visited, .region-postscript3-first-inner .odd h3 a:link {
  color: #6F7D1D; /* green */
}
.region-postscript3-first .odd h2 {
	border-color: #AAC02C; /* green */
}


.region-postscript3-second-inner .odd a:link {
  color: #057FA8; /* dark blue */
}
.region-postscript3-second-inner .odd a:visited, .region-postscript3-second-inner .odd h3 a:link {
  color: #057FA8; /* blue */
}
.region-postscript3-second .odd h2 {
	border-color: #00B3DF; /* blue */
}


.region-postscript3-first-inner .even a:link {
  color: #AA6627; /* dark orange */
}
.region-postscript3-first-inner .even a:visited, .region-postscript3-first-inner .even h3 a:link  {
  color: #AA6627; /* orange */
}
.region-postscript3-first .even h2 {
	border-color: #FCB316; /* orange */
}


.region-postscript3-second-inner .even a:link {
  color: #C84093; /* dark pink */
}
.region-postscript3-second-inner .even a:visited, .region-postscript3-second-inner .even h3 a:link {
  color: #C84093; /* dark pink */
}
.region-postscript3-second .even h2 {
	border-color: #CE539E; /* pink */
}


.region-postscript3-third-inner .even a:link {
  color: #057FA8; /* dark blue */
}
.region-postscript3-third-inner .even a:visited, .region-postscript3-third-inner .even h3 a:link {
  color: #057FA8; /* dark blue */
}
.region-postscript3-third .even h2 {
	border-color: #00B3DF; /* blue */
}


.region-postscript3-third-inner .odd a:link {
  color: #6F7D1D; /* dark green */
}
.region-postscript3-third-inner .odd a:visited, .region-postscript3-third-inner .odd h3 a:link {
  color: #6F7D1D; /* green */
}
.region-postscript3-third .odd h2 {
	border-color: #AAC02C; /* green */
}


.page-node .zone-postscript2-wrapper {
  border-color: #CE539E; /* pink */
}

.page-node .zone-postscript3-wrapper {
  border-color: #AAC02C; /* green */
}

/* Footer */
#zone-footer, .region-footer, #zone-footer-wrapper {
	border-color: #FCB316; /* orange */
}

.btt:after {
	border-color: #FCB316 transparent; /* orange */
}

.social-icons li {
	background-color: #FCB316; /* orange */
}

/* main content */
.grid-8 .block-main a:link, .page-node .block-main a:link, .page-explore-tags .block-main a:link {
	color: #AA6627; /* dark orange */
/* 	border-color: #FCB316; orange (updated accessible colours)*/
}
.grid-8 .block-main a:visited, .page-node .block-main a:visited, .page-explore-tags .block-main a:visited {
  color: #AA6627;
}

/* DHTML menus */
li.dhtml-folder.expanded {
  list-style-image: url("blue-down.png") !important;
}
li.dhtml-folder.collapsed {
  list-style-image: url("blue-right.png") !important;
}

/* Themes dropdown */
.sf-sub-indicator {
	background: url("orange-down.png") no-repeat;
	background-position: 0 0 !important;
}

/* pager */
.pager li.pager-current {
  background: none repeat scroll 0 0 #FCB316; /* orange */
}

/* Main menu (superfish) */
#block-superfish-1 li ul {
  border-color: #E8E8E8 #E8E8E8 #FCB316;
}

/* Guest avatar */
.guest-avatar {
	background: url("guest-orange.png") no-repeat;
	height: 60px;
	width: 60px;
}

/* New home and news and blogs */
.flex-control-paging li a:hover {
  border-bottom: 6px solid #FCB316; /* orange */
}

.flex-control-paging li a.flex-active {
  border-bottom: 6px solid #FCB316; /* orange */
}

.view-home .ctype, .view-Highlights .ctype, .view-themes-page .theme-name, .ctype {
	background: none repeat scroll 0 0 #FCB316; /* orange */
}

.view-home .views-field-field-main-image img, .view-Highlights .views-field-field-main-image img, .grid-container-large img {
  border-bottom: 4px solid #FCB316; /* orange */
}

.btn input[type="submit"], .node-type-webform input.webform-submit, #clickdimform #btnSubmit, .buttons {
	background: #FCB316; /* orange */
}

.btn input[type="submit"]:hover, .node-type-webform input.webform-submit:hover, #clickdimform #btnSubmit:hover, .buttons {
	background: #FAB833; /* 90% orange */
}

#quicktabs-comments ul.quicktabs-tabs li.active {
		background: #00B3DF; /* blue, same as .region-postscript-third .even h2 */
}

#flexslider-home, .node-type-group .zone-postscript4-wrapper {
  border-top-color: #FCB316; /* orange */
}

.gallery-overlay {
	background: url(photo-orange.png) no-repeat scroll 0 0 transparent;
}

.video-overlay {
	background: url(video-orange.png) no-repeat scroll 0 0 transparent;
}

/* themes page */
.view-themes-page .theme-name h3 a {
  color: #000000 !important;
}

.term-primary, .fill, .box-fill-colour, .region-header-first .block-menu, .mission, .bgnd-colour {
  background: #FCB316; /* orange */
}

/*.sectioned .zone-header-wrapper,*/ .banner-odd {
  background-color: rgba(252,179,22,0.2); /* light orange */
}

.banner-even {
	  background-color: rgba(0,179,223,0.2); /* light blue */
}

.btn-outline {
	color: #FCB316; /* orange */
	border-color: #FCB316; /* orange */
}

.btn-fill {
	color: #000 !important;
	background-color: #FCB316; /* orange */
}

.btn-fill:hover, .btn-fill:focus, .btn-fill:active {
	color: #fff !important;
	background-color: #AA6627; /* dark orange */
}

.banner-even .btn-outline, .banner-social {
  color: #057FA8; /* dark blue */
  border-color: #00B3DF; /* blue */
}

.banner-even .btn-fill {
	color: #000;
	background-color: #00B3DF; /* blue */
}

.banner-even .btn-fill:hover, .banner-even .btn-fill:focus, .banner-even .btn-fill:active {
	background-color: #057FA8; /* dark blue */
}

.banner-social a:link {
	color: #057FA8 !important; /* dark blue */
}

.banner-social a:link .fa {
	color: #00B3DF !important; /* blue */
}

.banner-social a:visited {
	color: #057FA8 !important; /* dark blue */
}

blockquote:after, blockquote:before, .quotes-open, .quotes-close {
  color: #FCB316; /* orange */
}

.digi-social i:hover, .digi-social img:hover {
  background: #FCB316; /* orange */
  border-color: #FCB316; /* orange */
}

.lf-type q, q, .txt-colour-d {
	color: #AA6627; /* dark orange */
}

.view-Blogger .views-field-picture-1 a, .view-mode-photo img, .paragraphs-items-field-about-the-author {
  border-color: #FCB316; /* orange */
}

.bdr-colour, span.bdr-colour:before {
  border-color: #FCB316 !important; /* orange */
}

.border-top {
  border-top-color: #FCB316 !important; /* orange */
}

.txt-colour {
  color: #AA6627; /* orange */
}

h2.block-title {
  color: #3e3e3e !important;
}

.node p a:link, .node p a:visited, .node li a:link, .node li a:visited {
	border-bottom: 1px solid #dcdcdc !important;
	transition: border-color .15s ease-out;
}

.node p a:hover, .node p a:active, .node li a:hover, .node li a:active {
	border-color: #FCB316 !important; /* orange */
}

.rate-widget .rate-button.active {
  background: #FCB316; /* orange */
}
