.iiedFeatures ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}

.iiedFeatures ul li {
  display: block;
  float: left;
}

.iiedFeatures button {
  margin: 0 15px 1em 0;
  padding: 5px 10px;
  border: solid 1px #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  background: transparent;
  outline: none;
  text-shadow: none;
}

.iiedFeatures button:hover a {
  color: white !important;
}

.copylink {
  visibility: hidden;
}

.copylink.show {
  visibility: visible;
}
