/**
 * Print stylesheet for iied.org
* @version         1.1
* @lastmodified    24.11.2020
*/

@media print {
  #page {
    width: 100%;
    margin: 0;
    float: none;
  }

  @page {
    margin: 2cm;
  }

  body {
    /* font: 13pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3; */
    background: #fff !important;
    color: #000;
  }

  h1 {
    font-size: 24pt;
  }

  h2,
  h3,
  h4 {
    font-size: 14pt;
    margin-top: 25px;
  }

  a {
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  ul,
  ol,
  dl {
    page-break-before: avoid;
  }

  a:link,
  a:visited,
  a {
    background: transparent;
    color: #520;
    text-decoration: underline;
    text-align: left;
  }

  a {
    page-break-inside: avoid;
  }

  a[href^="http"]:after {
    content: " <" attr(href) "> ";
  }

  $a:after > img {
    content: "";
  }

  article a[href^="#"]:after {
    content: "";
  }

  a:not(:local-link):after {
    content: " <" attr(href) "> ";
  }

  .embedded-video,
  .paragraphs-item-video-embed {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
  }
  .media-desc {
    position: absolute;
    height: 0;
    overflow: hidden;
  }

  .field-name-rate, .block-iied-features, #block-views-related-by-tags-block-3, .view-related-by-tags,
    #zone-footer, .point, .btt, #zone-branding .grid-8, .btt, #zone-postscript4-wrapper, .print-none, #region-sidebar-second

   /* Check long reads and add more here!

    #breadcrumbs,
    .site-title img, .post-tags */ {
    display: none;
  }

  /* messages before and after the content */
  #section-content::after {
    content: "\ This work is licensed under a Creative Commons Attribution 4.0 International License. You are free to copy and redistribute. ";
    color: #999 !important;
    font-size: 1em;
    padding-top: 30px;
  }
  #zone-menu::before {
    content: "\ Thank you for printing this page. ";
    color: #777 !important;
    font-size: 1em;
    padding-top: 30px;
    text-align: center !important;
  }

  p,
  address,
  li,
  dt,
  dd,
  blockquote {
    font-size: 100%;
  }

  ul,
  ol {
    margin-left: 18pt;
    margin-bottom: 20pt;
  }

  li {
    line-height: 1.6em;
  }
}
